openapi: 3.0.0
info:
  title: API Endpoints administrations psp_transactions API
  description: This page allows you to explore the available API endpoints. Select a resource (e.g. debtors) and an endpoint (e.g. /v1/debtors) to inspect an example response and available parameters. An authorization header containing a Bearer token is required, see [Authentication](/authentication/authorization).
  version: 1.0.0
servers:
- url: https://api.paytsoftware.com
  description: Production
- url: https://demo-api.paytsoftware.com
  description: Demo / testing
security:
- bearerAuth: []
tags:
- name: psp_transactions
  description: Operations about psp_transactions
paths:
  /v1/psp_transactions:
    get:
      description: Get administration PSP transactions
      parameters:
      - in: query
        name: administration_id
        description: Administration identifier
        required: true
        schema:
          type: string
      - in: query
        name: ids
        description: Filter PSP transactions with a comma separated list of internal ids
        required: false
        schema:
          type: string
      - in: query
        name: payment_methods
        description: 'Filter PSP transactions with a comma separated list of payment methods,  possible values: afterpay, alipay, amazonpay, applepay, bancomatpay, bacs_direct_debit, bancontact, banktransfer, belfius, billink, bitcoin, capayable, cashly, creditcard, creditclick, direct_debit, eps, focum, giropay, googlepay, ideal, in3, inghomepay, kbc, klarnapaylater, klarnasliceit, maestro, minitix, multibanco, mybank, paybybank, payconiq, payto, paypal, paysafecard, phone_payment, przelewy24, sofort, spraypay, trustly, twikey, unknown, voucher, wechat'
        required: false
        schema:
          type: string
      - in: query
        name: statuses
        description: 'Filter PSP transactions with a comma separated list of statuses, possible values: cancelled, charged_back, failed, paid, pending, processing, refunded'
        required: false
        schema:
          type: string
      - in: query
        name: updated_after
        description: ISO8601 UTC Timestamp to filter records updated after it
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: fields
        description: 'JSON object defining fields to receive (e.g {"only": ["field1", {"field2": ["field3"]}]})'
        required: false
        schema:
          type: string
      - in: query
        name: cursor
        description: The record identifier after which to start the page
        required: false
        schema:
          type: string
      - in: query
        name: per_page
        description: How many records will be returned per page, (1..500), defaults to 100
        required: false
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 500
          default: 100
      responses:
        '200':
          description: Get administration PSP transactions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApi_PspTransactionsPageEntity'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApi_ErrorEntity'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApi_ErrorEntity'
      tags:
      - psp_transactions
      operationId: getV1PspTransactions
      summary: Get administration PSP transactions
  /v1/psp_transactions/{id}:
    get:
      description: Get administration PSP transaction by id
      parameters:
      - in: path
        name: id
        description: PSP transaction identifier
        required: true
        schema:
          type: string
      - in: query
        name: administration_id
        description: Administration identifier
        required: true
        schema:
          type: string
      - in: query
        name: fields
        description: 'JSON object defining fields to receive (e.g {"only": ["field1", {"field2": ["field3"]}]})'
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get administration PSP transaction by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApi_V1_PspTransactionEntity'
        '401':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApi_ErrorEntity'
        '403':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerApi_ErrorEntity'
      tags:
      - psp_transactions
      operationId: getV1PspTransactionsId
      summary: Get administration PSP transaction by id
components:
  schemas:
    CustomerApi_PaginationEntity:
      type: object
      properties:
        cursor:
          type: string
          description: Cursor for fetching the next page
      required:
      - cursor
    CustomerApi_V1_PspTransactionEntity:
      type: object
      properties:
        bank_account_name:
          type: string
          description: Name of bank account holder
        bank_account_number:
          type: string
          description: Bank account number
        currency_code:
          type: string
          description: Currency code in ISO 4217 format
        invoice_ids:
          type: array
          items:
            type: string
          description: Associated invoice identifiers
        payment_method:
          type: string
          description: Transaction payment method
        reversal_code:
          type: string
          description: Reversal code
        status:
          type: string
          description: Transaction status (cancelled|charged_back|failed|paid|pending|processing|refunded)
        amount:
          type: string
          description: Amount in invoice currency
        book_amount:
          type: string
          description: Amount in administration currency
        administration_id:
          type: string
          description: Owning administration identifier
        debtor_id:
          type: string
          description: Associated debtor identifier
        id:
          type: string
          description: Unique identifier
        paid_at:
          type: string
          format: date-time
          description: Timestamp at which the PSP transaction was paid
        updated_at:
          type: string
          format: date-time
          description: Timestamp at which the psp_transaction was last updated
      required:
      - currency_code
      - invoice_ids
      - payment_method
      - status
      - amount
      - book_amount
      - administration_id
      - debtor_id
      - id
      - updated_at
      description: CustomerApi_V1_PspTransactionEntity model
    CustomerApi_PspTransactionsPageEntity:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomerApi_V1_PspTransactionEntity'
          description: Psp transaction
        pagination:
          allOf:
          - $ref: '#/components/schemas/CustomerApi_PaginationEntity'
          description: Pagination details
      required:
      - data
      description: CustomerApi_PspTransactionsPageEntity model
    CustomerApi_ErrorEntity:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
      required:
      - code
      - message
      description: CustomerApi_ErrorEntity model
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth2 access token or static API token. See [Authorization](/authentication/authorization) for how to obtain one.
